python-dotenv
uv
requests
openai
streamlit
fastapi
uvicorn
celery
redis
flower
asgiref
pydantic
typing
asyncio
json-cfg
tasks
langchain
langgraph
langchain-community
langchain-experimental
langchain-core
psycopg2-binary
psycopg[binary]
langchain_openai
structlog
langgraph-checkpoint-postgres
fastapi-sessions
pandas
sqlalchemy
ipykernel